body{
    background: #130601;
    margin:0;
    padding: 0;
}
nav{
    /*vovler a poner el nav en la pagpMain*/
    background-color: #1f1f1f;
    width: 100%;
    overflow: hidden;
    padding:15px;
}

.contenedorSearch{
    /* Al parecer no hacer nada si no pones un height, si lo pones se descueadra todo*/
    width: 500px;

    /*vertical-align: middle;*/
    white-space: nowrap;
    position: relative;

}
.contenedorSearch .icon{
    position:absolute;
    top:65%;
    margin-left: 10px;
    margin-top:5px;
    /*z-index:1;*/
    color:gray;
}
.contenedorSearch input#buscar{
    width: 300px;
    height: 30px;
    background: #424250;
    border:1px solid white;
    font-size: 10pt;
    float:left;
    color: #8d8d66;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    /*CAMBIAR EL COLOR DEL TEXTO Y FUENTE*/

    /*Transicion soportada para todos los navegadores*/
    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
}
/*Pongo la input#buscar despues del hover para que se aplique en el las propiedades dadas*/
.contenedorSearch input#buscar:hover ,.contenedorSearch input#buscar:active  ,.contenedorSearch input#buscar:focus {
    background-color: darkorange;
}
/*Pongo la .icon despues del hover para que se aplique en el las propiedades dadas*/
.contenedorSearch:hover .icon,.contenedorSearch:active .icon,.contenedorSearch:focus .icon{
   color:black;
}
/*form{

}*/

/*Si le pongo ancho y largo a los contenedores se descuadra el nav y se pone debajo del search los select*/

/*Hacer los respectivos HOVERS y al sumbit (boton) hacerle HOVER/ACTIVE/*/
.contenedorSelector{
   /* width: 150px;
    height: 30px;*/
}
.Selector{
    font-family: 'Readex Pro', sans-serif;
    width: 150px;
    height: 30px;
    background-color: #fcefe5;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 5px;
    /*Alinea los selectors*/
    float:left;
}
.contenedorSelector2{
   /* margin-right: 5px;
    width: 150px;
    height: 30px;*/
}
#submit{
    font-family: 'Readex Pro', sans-serif;
    margin-left: 5px;
    margin-top:5px;
    height: 20px;
    width: 100px;
    vertical-align: middle;
    font-weight: bold;
}

/*Maqutacion de las cartas de la pelis*/
.contenedor{
    overflow: hidden;
    margin-top:20px;
}
.contenedorPelis{
    width: 210px;
    height: 350px;
    border:3px solid darkorange;
    padding: 5px;
    text-align: center;
    margin:10px;
    float:left;
    background-color: #343434;
    text-shadow: 0px 4px 3px black,0px -4px 3px black;
    font-family: 'Readex Pro', sans-serif;
}
.contenedorPelis:hover{
    width: 213px;
    height: 350px;
    box-shadow: 0px -5px 5px gray, 0px 5px 5px gray;
}
img{
    border:2px solid black;
    width: 216px;
    height: 250px;
    margin-top: -5px;
    margin-left: -5px;

}
/*Pongo la img despues del hover para que se aplique en ella las propiedades dadas*/
.contenedorPelis:hover img{
    width: 219px;
    height: 251px;
}
a{
    text-decoration: none;
    color:white;
}
