body{
    background: #130601;
    margin:0;
    padding: 0;
}
nav{
    /*vovler a poner el nav en la pagpMain*/
    background-color: #1f1f1f;
    width: 100%;
    overflow: hidden;
    padding:15px;
}
/*Meter el link a la pag principal*/

.contenedorUL{
    /*FUTURO QUITAR*/
    float:left;
    /*Si lo de abajo se descoloca*/
    /*width: 250px;
    height: 48px;*/

}
.contenedorUL ul li{
    list-style-type: none;
    /*FUTURO QUITAR*/
    /*float:right;*/

}
 li a{
    color: black;

    display: block;
    padding:5px ;
    text-decoration: none;
}
.contenedorUL ul li a:hover{
    font-weight: bold;
    background-color: #ffca88;
}

.contenedorInicioSession{
    text-align: center;
    margin: 0 auto;
    margin-top:50px;
    padding-top: 5px;
    background-color: #e77d00;
    width: 240px;
    height: 280px;
    border-radius:5px ;
}

.contenedorInicioSession form input{
    margin-top: 15px;
}
.contenedorInicioSession form .ini{
    padding: 5px;
    font-weight: bold;
}
.contenedorInicioSession .link a{

    padding:2px;
    text-decoration: none;
    color:white;
    background-color: black;

}
.link{
    margin-top: 20px;
}