body{
    background: #130601;
}
nav{
    background-color:#343434;
    margin:0 auto;
}
.conetendorSearch{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.conetendorSearch input#buscar{
    width: 300px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.contenedorSelector{
    //float:left;
}
.contenedorSelector2{
    //float:left;
}
.icon{
    color: #a6a6a6;
}
.contenedor{
    overflow: hidden;
    margin-top:20px;

}
.contenedorPelis{
    width: 210px;
    height: 350px;
    border:3px solid darkorange;
    padding: 5px;
    text-align: center;
    margin:10px;
    float:left;
    background-color: #343434;

}
img{
    border:2px solid black;
    width: 216px;
    height: 250px;
    margin-top: -5px;
    margin-left: -5px;

}
a{
    text-decoration: none;
    color:white;
}
