body{
    background: #130601;
}
nav{
    background-color:#343434;
}
.icon{
    color: #a6a6a6;
}
.contenedorPl{
    color:gray;
    /*text-align: ;*/
    margin:30px;
}
a{
    text-decoration: none;
    color:gray;
}