body{
    margin: 0;
    padding: 0;
    background-color: #abd1ff;
}

.contenedorHoteles{
    /*No hace nada*/
    float:left;
}
.contenedorHoteles a{
    text-decoration:none
}
.contenedorHoteles .contenedorHotel{
    float:left;
    margin: 25px;
    width: 250px;
    height: 300px;
    /*border: 2px solid black;*/
    box-shadow:black 0px 0px 5px 1px,
       black 0px 0px 10px 1px inset;
    background-color: rgba(255, 255, 255, 0.71);
}
.contenedorHoteles .contenedorHotel .imgHotel{

    width: 250px;
    height: 240px;
}
.contenedorHoteles .contenedorHotel .nomHotel{
    /*COMO PONER DONDE YO QUIERA EL NOMBRE Y NO SE DESCOLOQUE AL MOVER EL CONTENEDOR*/

    padding: 4px;
    top: 200px;
    left: 35px;
    color: white;
    box-shadow: black 0px 0px 15px 7px inset;
    border-radius:10px ;
}
.contenedorHoteles .contenedorHotel .percioHotel{
    margin-left:10px;
    margin: 12px;
    color: #d7b300;
    font-weight: bold;
    font-size: x-large;
    text-shadow: black 0px 1px 3px;
}
.contenedorHoteles .contenedorHotel .calificacionHotel{

    padding: 3px;
    color:white;
    font-size: large;
    font-weight: bold;
    background-color: green;
    text-shadow: black 0px 1px 2px;
    border-radius: 15px;
}