body{
    margin:auto;
    padding: 0;
    background-color: #CDEBF7;
}

.contenedorHoteles{
}
.contenedorHoteles a{
    text-decoration:none
}
.contenedorHoteles .contenedorHotel{
    float:left;
    margin: 30px;
    width: 280px;
    height: 400px;
    /*border: 2px solid black;*/
    box-shadow:black 0px 0px 5px 1px,
       black 0px 0px 10px 1px inset;
    background-color: #3E6775;
}
.contenedorHoteles .contenedorHotel .imgHotel{
    width: 280px;
    height: 260px;
}
.contenedorHoteles .contenedorHotel .nomHotel{
    position: relative;
    bottom: 150px;
    padding: 10px;
    color:white ;
    border-radius:10px ;
    text-shadow: black 0px 2px 5px;
}
.contenedorHoteles .contenedorHotel .percioHotel{
    position:relative;
    top: 29px;
    left: 10px;
    color:white;
}
.contenedorHoteles .contenedorHotel .percioHotel span{
    color: #d7b300;
    font-weight: bold;
    font-size: x-large;
    text-shadow: black 0px 1px 3px;
}
.contenedorHoteles .contenedorHotel .ubicacionHotel{
    position:relative;
    font-weight: bold;
    bottom: 43px;
    left: 10px;
    color:white;
}
.contenedorHoteles .contenedorHotel .calificacionHotel{
    position:relative;
    text-align: center;
    bottom:58px;
    left:226px;
    width: 43px;
    padding: 3px;
    color:white;
    font-size: large;
    font-weight: bold;
    background-color: green;
    text-shadow: black 0px 2px 2px;
    box-shadow: black 1px 2px 5px 4px;
    border-radius: 15px;
}